In [2]:
import pandas as pd
import numpy as np

## **Clarity Monitors**

In [3]:
# Load the dataset from a CSV file
hourly_df = pd.read_csv('../data/Hourly Clarity Data 1-24 to 1-25.csv')
hourly_df.head()

,datasourceId,sourceId,sourceType,outputFrequency,startOfPeriod,endOfPeriod,locationLatitude,locationLongitude,atmPressure1HourMean.raw,atmPressure1HourMean.status,...,temperatureAmbient1HourMean.value,temperatureInternal1HourMean.raw,temperatureInternal1HourMean.status,temperatureInternal1HourMean.value,windDirection1HourMean.raw,windDirection1HourMean.status,windDirection1HourMean.value,windSpeed1HourMean.raw,windSpeed1HourMean.status,windSpeed1HourMean.value
0,DHSHV3008,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T17:00:00.000Z,2024-10-30T18:00:00.000Z,37.65544,122.41276,NaN,NaN,...,NaN,17.62,sensor-ready,17.62,NaN,NaN,NaN,NaN,NaN,NaN
1,DHSHV3008,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T18:00:00.000Z,2024-10-30T19:00:00.000Z,37.65544,122.41276,NaN,NaN,...,NaN,19.62,sensor-ready,19.62,NaN,NaN,NaN,NaN,NaN,NaN
2,DHSHV3008,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T19:00:00.000Z,2024-10-30T20:00:00.000Z,37.65544,122.41276,NaN,NaN,...,NaN,21.16,sensor-ready,21.16,NaN,NaN,NaN,NaN,NaN,NaN
3,DHSHV3008,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T20:00:00.000Z,2024-10-30T21:00:00.000Z,37.65544,122.41276,NaN,NaN,...,NaN,21.36,sensor-ready,21.36,NaN,NaN,NaN,NaN,NaN,NaN
4,DHSHV3008,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T21:00:00.000Z,2024-10-30T22:00:00.000Z,37.65544,122.41276,NaN,NaN,...,NaN,20.79,sensor-ready,20.79,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
hourly_df.shape

(19383, 110)

In [5]:
# Load location data for clarity monitors
location_df = pd.read_csv('../data/risesouthcity_locations.csv')
location_df.head()

  Datasource ID                              Name
0     DHSHV3008            Rise South City Office
1     DJGNN5114  San Bruno School District Office
2     DVRGV9737                     Gardiner Park
3     DRCAC7970                  Belle Air School
4     DCVIM2201                    Brentwood Park

In [6]:
location_df.shape

(14, 2)

In [7]:
# Join the two dataframes on the ID column
joined_df = pd.merge(hourly_df, location_df, left_on='datasourceId', right_on='Datasource ID')
joined_df.drop(columns=['datasourceId'], inplace=True)
joined_df.head()

,sourceId,sourceType,outputFrequency,startOfPeriod,endOfPeriod,locationLatitude,locationLongitude,atmPressure1HourMean.raw,atmPressure1HourMean.status,atmPressure1HourMean.value,...,temperatureInternal1HourMean.status,temperatureInternal1HourMean.value,windDirection1HourMean.raw,windDirection1HourMean.status,windDirection1HourMean.value,windSpeed1HourMean.raw,windSpeed1HourMean.status,windSpeed1HourMean.value,Datasource ID,Name
0,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T17:00:00.000Z,2024-10-30T18:00:00.000Z,37.65544,122.41276,NaN,NaN,NaN,...,sensor-ready,17.62,NaN,NaN,NaN,NaN,NaN,NaN,DHSHV3008,Rise South City Office
1,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T18:00:00.000Z,2024-10-30T19:00:00.000Z,37.65544,122.41276,NaN,NaN,NaN,...,sensor-ready,19.62,NaN,NaN,NaN,NaN,NaN,NaN,DHSHV3008,Rise South City Office
2,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T19:00:00.000Z,2024-10-30T20:00:00.000Z,37.65544,122.41276,NaN,NaN,NaN,...,sensor-ready,21.16,NaN,NaN,NaN,NaN,NaN,NaN,DHSHV3008,Rise South City Office
3,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T20:00:00.000Z,2024-10-30T21:00:00.000Z,37.65544,122.41276,NaN,NaN,NaN,...,sensor-ready,21.36,NaN,NaN,NaN,NaN,NaN,NaN,DHSHV3008,Rise South City Office
4,AMMHPRJX,CLARITY_NODE,hour,2024-10-30T21:00:00.000Z,2024-10-30T22:00:00.000Z,37.65544,122.41276,NaN,NaN,NaN,...,sensor-ready,20.79,NaN,NaN,NaN,NaN,NaN,NaN,DHSHV3008,Rise South City Office

In [8]:
# Look for all columns with 'no2' or 'pm25' in their names
no2_columns = [col for col in joined_df.columns if 'no2' in col.lower()]
pm25_columns = [col for col in joined_df.columns if 'pm2_5' in col.lower()]
# Print the columns found
print("NO2 Columns:", no2_columns)
print("PM2.5 Columns:", pm25_columns)

NO2 Columns: ['no2Conc1HourMean.raw', 'no2Conc1HourMean.status', 'no2Conc1HourMean.value', 'no2Conc1HourMeanUsEpaAqi.raw', 'no2Conc1HourMeanUsEpaAqi.status', 'no2Conc1HourMeanUsEpaAqi.value', 'no2Conc1HourMeanWaDwerAqi.raw', 'no2Conc1HourMeanWaDwerAqi.status', 'no2Conc1HourMeanWaDwerAqi.value']
PM2.5 Columns: ['pm2_5ConcMass1HourMean.raw', 'pm2_5ConcMass1HourMean.status', 'pm2_5ConcMass1HourMean.value', 'pm2_5ConcMass1HourMeanWaDwerAqi.raw', 'pm2_5ConcMass1HourMeanWaDwerAqi.status', 'pm2_5ConcMass1HourMeanWaDwerAqi.value', 'pm2_5ConcMass24HourRollingMean.raw', 'pm2_5ConcMass24HourRollingMean.status', 'pm2_5ConcMass24HourRollingMean.value', 'pm2_5ConcMassNowcast.raw', 'pm2_5ConcMassNowcast.status', 'pm2_5ConcMassNowcast.value', 'pm2_5ConcMassNowcastUsEpaAqi.raw', 'pm2_5ConcMassNowcastUsEpaAqi.status', 'pm2_5ConcMassNowcastUsEpaAqi.value', 'pm2_5ConcNum1HourMean.raw', 'pm2_5ConcNum1HourMean.status', 'pm2_5ConcNum1HourMean.value', 'pm2_5ConcNum24HourRollingMean.raw', 'pm2_5ConcNum24HourRollingMean.status', 'pm2_5ConcNum24HourRollingMean.value']

In [9]:
# Filter the dataframe to include only the columns of interest
joined_df = joined_df[['startOfPeriod', 'Name', 'Datasource ID', 'locationLatitude', 'locationLongitude']
                       + no2_columns + pm25_columns]
joined_df.head()

,startOfPeriod,Name,Datasource ID,locationLatitude,locationLongitude,no2Conc1HourMean.raw,no2Conc1HourMean.status,no2Conc1HourMean.value,no2Conc1HourMeanUsEpaAqi.raw,no2Conc1HourMeanUsEpaAqi.status,...,pm2_5ConcMassNowcast.value,pm2_5ConcMassNowcastUsEpaAqi.raw,pm2_5ConcMassNowcastUsEpaAqi.status,pm2_5ConcMassNowcastUsEpaAqi.value,pm2_5ConcNum1HourMean.raw,pm2_5ConcNum1HourMean.status,pm2_5ConcNum1HourMean.value,pm2_5ConcNum24HourRollingMean.raw,pm2_5ConcNum24HourRollingMean.status,pm2_5ConcNum24HourRollingMean.value
0,2024-10-30T17:00:00.000Z,Rise South City Office,DHSHV3008,37.65544,122.41276,-30.55,calibration-mixed,1.46,NaN,calibration-mixed,...,39.03,152.0,calibrated-ready,110.0,37.40,sensor-ready,37.40,71.04,sensor-ready,71.04
1,2024-10-30T18:00:00.000Z,Rise South City Office,DHSHV3008,37.65544,122.41276,-47.38,calibration-error,NaN,NaN,calibration-error,...,30.68,122.0,calibrated-ready,91.0,40.56,sensor-ready,40.56,60.88,sensor-ready,60.88
2,2024-10-30T19:00:00.000Z,Rise South City Office,DHSHV3008,37.65544,122.41276,-54.26,calibration-error,NaN,NaN,calibration-error,...,32.42,115.0,calibrated-ready,94.0,46.88,sensor-ready,46.88,57.38,sensor-ready,57.38
3,2024-10-30T20:00:00.000Z,Rise South City Office,DHSHV3008,37.65544,122.41276,-31.63,calibration-error,NaN,NaN,calibration-error,...,28.88,100.0,calibrated-ready,88.0,34.23,sensor-ready,34.23,52.75,sensor-ready,52.75
4,2024-10-30T21:00:00.000Z,Rise South City Office,DHSHV3008,37.65544,122.41276,-29.13,calibration-mixed,1.70,NaN,calibration-mixed,...,20.68,80.0,calibrated-ready,72.0,22.57,sensor-ready,22.57,47.72,sensor-ready,47.72

In [10]:
# Convert the 'startOfPeriod' column to datetime
joined_df['startOfPeriod'] = pd.to_datetime(joined_df['startOfPeriod'])
joined_df['startOfPeriod'].dtype

datetime64[ns, UTC]

In [11]:
# Update the no2_columns list to include only columns with 'value' in their names or 'EPAAqi'
no2_columns = [col for col in no2_columns if'WaDwer' not in col and 'value' in col]

# Update the pm25_columns list to include only columns with 'value' in their names or 'EPAAqi'
pm25_columns = [col for col in pm25_columns if 'WaDwer' not in col and 'Mass' in col and 'value' in col]

# Print the updated lists
print("Updated NO2 Columns:", no2_columns)
print("Updated PM2.5 Columns:", pm25_columns)

Updated NO2 Columns: ['no2Conc1HourMean.value', 'no2Conc1HourMeanUsEpaAqi.value']
Updated PM2.5 Columns: ['pm2_5ConcMass1HourMean.value', 'pm2_5ConcMass24HourRollingMean.value', 'pm2_5ConcMassNowcast.value', 'pm2_5ConcMassNowcastUsEpaAqi.value']

In [12]:
# Filter dataframe with updated columns and location/time columns
joined_df = joined_df[['startOfPeriod', 'Name', 'Datasource ID', 'locationLatitude', 'locationLongitude']
                       + no2_columns + pm25_columns]

joined_df.columns

Index(['startOfPeriod', 'Name', 'Datasource ID', 'locationLatitude',
       'locationLongitude', 'no2Conc1HourMean.value',
       'no2Conc1HourMeanUsEpaAqi.value', 'pm2_5ConcMass1HourMean.value',
       'pm2_5ConcMass24HourRollingMean.value', 'pm2_5ConcMassNowcast.value',
       'pm2_5ConcMassNowcastUsEpaAqi.value'],
      dtype='object')

In [13]:
# Drop Nowcast column for PM2.5 value
joined_df.drop(columns=['pm2_5ConcMassNowcast.value'], inplace=True)

# Change column names to more readable format
joined_df.rename(columns={
    'startOfPeriod': 'time',
    'Name': 'location_name',
    'Datasource ID': 'location_id',
    'locationLatitude': 'latitude',
    'locationLongitude': 'longitude',
    'no2Conc1HourMean.value': 'no2_1h_mean',
    'no2Conc1HourMeanUsEpaAqi.value': 'no2_1h_mean_aqi',
    'pm2_5ConcMass1HourMean.value': 'pm2_5_1h_mean',
    'pm2_5ConcMassNowcastUsEpaAqi.value': 'pm2_5_1h_mean_aqi',
    'pm2_5ConcMass24HourRollingMean.value': 'pm2_5_24h_mean',
}, inplace=True)

joined_df.head()

,time,location_name,location_id,latitude,longitude,no2_1h_mean,no2_1h_mean_aqi,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5_1h_mean_aqi
0,2024-10-30 17:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.46,1.0,25.65,45.72,110.0
1,2024-10-30 18:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,NaN,NaN,24.42,38.62,91.0
2,2024-10-30 19:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,NaN,NaN,33.93,37.45,94.0
3,2024-10-30 20:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,NaN,NaN,25.57,35.07,88.0
4,2024-10-30 21:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.70,1.0,12.74,31.35,72.0

In [14]:
# Find any missing values in the dataframe
missing_values = joined_df.isnull().sum()
missing_values[missing_values > 0]

no2_1h_mean          4932
no2_1h_mean_aqi      4932
pm2_5_1h_mean         165
pm2_5_1h_mean_aqi     193
dtype: int64

In [15]:
joined_df.shape

(19383, 10)

In [16]:
# Impute missing values using forward fill followed by backward fill because of time-series data
joined_df.ffill(inplace=True)
joined_df.bfill(inplace=True)

# Check for any remaining missing values
missing_values = joined_df.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [17]:
# Check dataframe before saving
joined_df.head()

,time,location_name,location_id,latitude,longitude,no2_1h_mean,no2_1h_mean_aqi,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5_1h_mean_aqi
0,2024-10-30 17:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.46,1.0,25.65,45.72,110.0
1,2024-10-30 18:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.46,1.0,24.42,38.62,91.0
2,2024-10-30 19:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.46,1.0,33.93,37.45,94.0
3,2024-10-30 20:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.46,1.0,25.57,35.07,88.0
4,2024-10-30 21:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,122.41276,1.70,1.0,12.74,31.35,72.0

In [18]:
# Make sure latitude and longitude are in the correct format\
joined_df['latitude'] = joined_df['latitude'].apply(lambda x: abs(x))
joined_df['longitude'] = joined_df['longitude'].apply(lambda x: -abs(x))
joined_df.head()

,time,location_name,location_id,latitude,longitude,no2_1h_mean,no2_1h_mean_aqi,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5_1h_mean_aqi
0,2024-10-30 17:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,1.46,1.0,25.65,45.72,110.0
1,2024-10-30 18:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,1.46,1.0,24.42,38.62,91.0
2,2024-10-30 19:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,1.46,1.0,33.93,37.45,94.0
3,2024-10-30 20:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,1.46,1.0,25.57,35.07,88.0
4,2024-10-30 21:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,1.70,1.0,12.74,31.35,72.0

In [19]:
# Save the cleaned dataframe to a new CSV file
joined_df.to_csv('../data/clarity_cleaned_hourly_data.csv', index=False)

In [28]:
# Script to clean Clarity hourly data
import pandas as pd

def clean_clarity_data(hourly_df, location_file_path, output_file_path):
    # Load the datasets
    location_df = pd.read_csv(location_file_path)

    # Join the two dataframes on the ID column
    joined_df = pd.merge(hourly_df, location_df, left_on='datasourceId', right_on='Datasource ID')
    joined_df.drop(columns=['datasourceId'], inplace=True)

    # Identify NO2 and PM2.5 columns
    no2_columns = [col for col in joined_df.columns if 'no2' in col.lower()]
    pm25_columns = [col for col in joined_df.columns if 'pm2_5' in col.lower()]

    # Filter the dataframe to include only the columns of interest
    joined_df = joined_df[['startOfPeriod', 'Name', 'Datasource ID', 'locationLatitude', 'locationLongitude']
                           + no2_columns + pm25_columns]

    # Convert the 'startOfPeriod' column to datetime
    joined_df['startOfPeriod'] = pd.to_datetime(joined_df['startOfPeriod'])

    # Update the NO2 and PM2.5 columns to include only relevant ones
    no2_columns = [col for col in no2_columns if 'value' in col and 'WaDwer' not in col]
    pm25_columns = [col for col in pm25_columns if 'value' in col and 'WaDwer' not in col and 'Mass' in col]

    # Filter dataframe with updated columns and location/time columns
    joined_df = joined_df[['startOfPeriod', 'Name', 'Datasource ID', 'locationLatitude', 'locationLongitude']
                           + no2_columns + pm25_columns]

    # Rename columns to more readable format
    joined_df.rename(columns={
        'startOfPeriod': 'time',
        'Name': 'location_name',
        'Datasource ID': 'location_id',
        'locationLatitude': 'latitude',
        'locationLongitude': 'longitude',
        'no2Conc1HourMean.value': 'no2_1h_mean',
        'no2Conc1HourMeanUsEpaAqi.value': 'no2_1h_mean_aqi',
        'pm2_5ConcMass1HourMean.value': 'pm2_5_1h_mean',
        'pm2_5ConcMassNowcastUsEpaAqi.value': 'pm2_5_1h_mean_aqi',
        'pm2_5ConcMass24HourRollingMean.value': 'pm2_5_24h_mean',
    }, inplace=True)

    # Drop unnecessary columns
    if 'pm2_5_nowcast' in joined_df.columns:
        joined_df.drop(columns=['pm2_5_nowcast'], inplace=True)

    # Impute missing values using forward fill followed by backward fill
    joined_df.ffill(inplace=True)
    joined_df.bfill(inplace=True)

    # Ensure latitude and longitude are in the correct format
    joined_df['longitude'] = joined_df['longitude'].apply(lambda x: -abs(x))
    joined_df['latitude'] = joined_df['latitude'].apply(lambda x: abs(x))

    # Save the cleaned dataframe to a new CSV file
    joined_df.to_csv(output_file_path, index=False)

In [25]:
# Example usage
april_df = pd.read_csv('../data/risesouthcity_april_hourly.csv')

# Drop unnecessary columns
april_df.drop(columns=['Name'], inplace=True)
april_df.head()

,datasourceId,startOfPeriod,endOfPeriod,locationLatitude,locationLongitude,pm2_5ConcMass1HourMean.raw,pm2_5ConcMass1HourMean.value,pm2_5ConcMass1HourMeanWaDwerAqi.raw,pm2_5ConcMass1HourMeanWaDwerAqi.value,pm2_5ConcMass24HourRollingMean.raw,...,pm2_5ConcMassNowcastUsEpaAqi.raw,pm2_5ConcMassNowcastUsEpaAqi.value,pm2_5ConcNum1HourMean.raw,pm2_5ConcNum1HourMean.value,pm2_5ConcNum24HourRollingMean.raw,pm2_5ConcNum24HourRollingMean.value,relHumidInternal1HourMean.raw,relHumidInternal1HourMean.value,temperatureInternal1HourMean.raw,temperatureInternal1HourMean.value
0,DCVIM2201,2024-12-06T08:00:00.000Z,2024-12-06T09:00:00.000Z,37.63757,-122.4327,14.75,7.10,15.0,7.0,26.95,...,59.0,37.0,13.52,13.52,27.84,27.84,82.84,82.84,8.78,8.78
1,DCVIM2201,2025-01-13T23:00:00.000Z,2025-01-14T00:00:00.000Z,37.63757,-122.4327,0.58,3.65,1.0,4.0,5.11,...,3.0,20.0,0.88,0.88,4.55,4.55,33.47,33.47,16.15,16.15
2,DCVIM2201,2025-01-13T22:00:00.000Z,2025-01-13T23:00:00.000Z,37.63757,-122.4327,0.64,3.68,1.0,4.0,5.20,...,4.0,20.0,1.06,1.06,4.65,4.65,34.11,34.11,16.63,16.63
3,DCVIM2201,2024-12-09T09:00:00.000Z,2024-12-09T10:00:00.000Z,37.63757,-122.4327,20.72,8.46,21.0,8.0,64.68,...,66.0,41.0,20.40,20.40,63.53,63.53,86.66,86.66,6.70,6.70
4,DCVIM2201,2024-12-06T02:00:00.000Z,2024-12-06T03:00:00.000Z,37.63757,-122.4327,12.99,7.61,13.0,8.0,29.96,...,61.0,47.0,14.49,14.49,30.47,30.47,74.22,74.22,13.08,13.08

In [26]:
concat_df = pd.concat([hourly_df[april_df.columns], april_df], ignore_index=True)
concat_df.head()

,datasourceId,startOfPeriod,endOfPeriod,locationLatitude,locationLongitude,pm2_5ConcMass1HourMean.raw,pm2_5ConcMass1HourMean.value,pm2_5ConcMass1HourMeanWaDwerAqi.raw,pm2_5ConcMass1HourMeanWaDwerAqi.value,pm2_5ConcMass24HourRollingMean.raw,...,pm2_5ConcMassNowcastUsEpaAqi.raw,pm2_5ConcMassNowcastUsEpaAqi.value,pm2_5ConcNum1HourMean.raw,pm2_5ConcNum1HourMean.value,pm2_5ConcNum24HourRollingMean.raw,pm2_5ConcNum24HourRollingMean.value,relHumidInternal1HourMean.raw,relHumidInternal1HourMean.value,temperatureInternal1HourMean.raw,temperatureInternal1HourMean.value
0,DHSHV3008,2024-10-30T17:00:00.000Z,2024-10-30T18:00:00.000Z,37.65544,122.41276,36.07,25.65,36.0,26.0,68.34,...,152.0,110.0,37.40,37.40,71.04,71.04,65.10,65.10,17.62,17.62
1,DHSHV3008,2024-10-30T18:00:00.000Z,2024-10-30T19:00:00.000Z,37.65544,122.41276,33.93,24.42,34.0,24.0,56.87,...,122.0,91.0,40.56,40.56,60.88,60.88,58.53,58.53,19.62,19.62
2,DHSHV3008,2024-10-30T19:00:00.000Z,2024-10-30T20:00:00.000Z,37.65544,122.41276,39.04,33.93,39.0,34.0,52.41,...,115.0,94.0,46.88,46.88,57.38,57.38,50.87,50.87,21.16,21.16
3,DHSHV3008,2024-10-30T20:00:00.000Z,2024-10-30T21:00:00.000Z,37.65544,122.41276,29.80,25.57,30.0,26.0,47.89,...,100.0,88.0,34.23,34.23,52.75,52.75,49.22,49.22,21.36,21.36
4,DHSHV3008,2024-10-30T21:00:00.000Z,2024-10-30T22:00:00.000Z,37.65544,122.41276,14.08,12.74,14.0,13.0,42.25,...,80.0,72.0,22.57,22.57,47.72,47.72,47.43,47.43,20.79,20.79

In [ ]:
location_file_path = '../data/risesouthcity_locations.csv'
output_file_path = '../data/clarity_cleaned_hourly_data.csv'

# Clean the data
clean_clarity_data(concat_df, location_file_path, output_file_path)

# Check the cleaned data
cleaned_df = pd.read_csv(output_file_path)
cleaned_df.head()

,time,location_name,location_id,latitude,longitude,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5ConcMassNowcast.value,pm2_5_1h_mean_aqi
0,2024-10-30 17:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,25.65,45.72,39.03,110.0
1,2024-10-30 18:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,24.42,38.62,30.68,91.0
2,2024-10-30 19:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,33.93,37.45,32.42,94.0
3,2024-10-30 20:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,25.57,35.07,28.88,88.0
4,2024-10-30 21:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,12.74,31.35,20.68,72.0

In [34]:
cleaned_df.drop(columns=['pm2_5ConcMassNowcast.value'], inplace=True)
cleaned_df.head()

,time,location_name,location_id,latitude,longitude,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5_1h_mean_aqi
0,2024-10-30 17:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,25.65,45.72,110.0
1,2024-10-30 18:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,24.42,38.62,91.0
2,2024-10-30 19:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,33.93,37.45,94.0
3,2024-10-30 20:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,25.57,35.07,88.0
4,2024-10-30 21:00:00+00:00,Rise South City Office,DHSHV3008,37.65544,-122.41276,12.74,31.35,72.0

In [49]:
# Save the cleaned dataframe to a new CSV file
cleaned_df.to_csv('../data/clarity_cleaned_hourly_data.csv', index=False)

## **PurpleAir Monitors**

In [50]:
# AQI calculation
def calculate_pm2_5_aqi(C_p):
    if pd.isna(C_p):
        return None

    C_p = float(str(C_p)[:str(C_p).find('.')+2]) if '.' in str(C_p) else float(C_p)

    breakpoints = [
        (0.0,   9.0,   0,   50),
        (9.1,   35.4,  51,  100),
        (35.5,  55.4,  101, 150),
        (55.5,  125.4, 151, 200),
        (125.5, 225.4, 201, 300),
        (225.5, 500.4, 301, 500)
    ]

    for BP_Lo, BP_Hi, I_Lo, I_Hi in breakpoints:
        if BP_Lo <= C_p <= BP_Hi:
            I_p = ((I_Hi - I_Lo) / (BP_Hi - BP_Lo)) * (C_p - BP_Lo) + I_Lo
            return round(I_p)

    return None

def clean_purpleair_data(df):
    # Process PurpleAir API data
    df = df.rename(columns={
        'time_stamp': 'time',
        'sensor_name': 'location_name',
        'sensor_index': 'location_id',
        'pm2.5_atm': 'pm2_5_1h_mean',
        'temperature': 'temp',
        'humidity': 'rh'
    })

    df['time'] = pd.to_datetime(df['time'], utc=True)
    df['time'] = df['time'].dt.tz_convert('US/Pacific').dt.tz_localize(None)

    # Add date column for grouping
    df['date'] = df['time'].dt.date

    # Calculate rolling 24-hour mean per sensor
    df['pm2_5_24h_mean'] = (
        df.groupby('location_id')['pm2_5_1h_mean']
        .transform(lambda x: x.rolling(window=24, min_periods=1).mean())
    )

    # AQI Calculations for rolling 24-hour mean
    df['pm2_5_1h_mean_aqi'] = df['pm2_5_24h_mean'].apply(calculate_pm2_5_aqi)

    # Impute missing values for the entire dataframe
    df.ffill(inplace=True)
    df.bfill(inplace=True)

    # Column arrangement
    df = df[['time', 'location_name', 'location_id', 'latitude', 'longitude',
                            'pm2_5_1h_mean', 'pm2_5_24h_mean', 'pm2_5_1h_mean_aqi']]

    # Sort and save
    df = df.sort_values('time')
    df.to_csv("purpleair_api_cleaned_data.csv", index=False)

In [51]:
purple_df = pd.read_csv('../data/uncleaned_purple_air_sensor_data.csv')

# Clean the PurpleAir data
clean_purpleair_data(purple_df)

# Check the cleaned PurpleAir data
purple_df_cleaned = pd.read_csv("purpleair_api_cleaned_data.csv")
purple_df_cleaned.head()

,time,location_name,location_id,latitude,longitude,pm2_5_1h_mean,pm2_5_24h_mean,pm2_5_1h_mean_aqi
0,2024-10-12 00:00:00,Grundy Park,21427,37.622585,-122.420970,0.5255,2.370854,13
1,2024-10-12 00:00:00,Parkside Intermediate School,91617,37.621143,-122.421890,0.9920,2.543313,14
2,2024-10-12 00:00:00,Downtown South San Francisco Inside,35103,37.656963,-122.416110,1.0915,0.123271,1
3,2024-10-12 00:00:00,RSC-Office,158267,37.655450,-122.412834,2.0735,5.372042,29
4,2024-10-12 00:00:00,SB1,67553,37.617794,-122.412735,0.4260,2.559500,14

## **All Monitor Data** ##

In [52]:
# Concatenate dataframes
combined_df = pd.concat([cleaned_df, purple_df_cleaned], ignore_index=True)

# Sort by time and location ID
combined_df.sort_values(by=['time', 'location_id'], inplace=True)

# Save the combined dataframe
combined_df.to_csv('../data/combined_monitor_data.csv', index=False)